*{
    transition: 2s;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: gray;
}

#calculator{
    width: 300px;
    height: 415px;
    margin: 90px auto;
    background-color: aqua;
    border: 1px, aqua, solid;
    border-radius: 20px;
}

#calculator div:not(#screen){
    display: inline-block;
}

#screen{
    width: 95%;
    height: 50px;
    margin: auto;
    position: relative;
    top: 7px;
    background-color: antiquewhite;
    border: 1px, antiquewhite, solid;
    border-radius: 20px;
}

#screenNum{
    width: 90%;
    text-align: right;
    position: relative;
    top: 12px;
    font-size: 20px;
}

.buttons{
    margin: 20px;
}

#reset{
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

button{
    width: 50px;
    height: 70px;
    background-color: aquamarine;
    color: blue;
    font-weight: bold;
    font-size: 50px;
    border: 5px aquamarine solid;
    border-radius: 25%;
    margin: 5px;
    outline: none;
    cursor: pointer;
    transition: 1.5s;
}

button:hover{
    color: white;
    background-color: black;
}